*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 80%;
    margin-top: 10%;
}